{
  "_environment": "<%= env %>",
  "_description": "Environment variable file for the SPFx env-inject system.",

  "solutionName": "<%- solutionName %>",
  "solutionId": "<%- solutionId %>",
  "solutionPackageZipPath": "<%- solutionPackageZipPath %>",

  "webApiPermissions": <%- JSON.stringify(webApiPermissions, null, 4) %>,

  "libraryId": "<%- libraryId %>",

  "manifests": <%- JSON.stringify(manifests, null, 4) %>
}
